.badge {
    background-color: tomato;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.dot {
    width: 5px;
    height: 5px;
    left: 25px;
    top: -10px
}