.screen-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    padding-top: 45px;
    align-items: center;
    margin-bottom: 10px;
}

.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(180deg);
    }
}

.screen-header .fa-gear {
    animation: rotateCog 1s ease-in-out;
    transition: transform 2s ease-in-out;
}

.screen-header .fa-gear:hover {
    transform: rotateZ(360deg);
}