.user-component {
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-component, .user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-component__avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 40%;
    margin-right: 20px;
}
.user-component__avatar--xl {
    width: 70px;
    height: 70px;
}
.user-component__avatar--sm {
    width: 50px;
    height: 50px;
}

.user-component__title {
    font-weight: 600;
    font-size: 20px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__subtitle {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    display: flex;
}

.user-component__subtitle i {
    margin-left: 5px;
    color: #FE5E4C;
}

.user-component__time {
    display: block;
    margin-bottom: 8px;
}
